$logowidth: rem-calc(150);

$topnav-color: #363636;
$topbar-background: $topnav-color;
$header-bg-color: $blue1;
$menubar-color: $blue2;


$black1: #2c2c2c;
$black2: #333333;
$black3: #363636;
$black3: #535353;
$upei-orange: #fbb040;


$grey1: #898989;
$upei-red: #8c2004;
$grey2: #acacac;
$grey3: #b5b5b5;
$grey4: #bbbbbb;
$grey5: #cccccc;
$grey6: #d7d7d7;
$grey8: #f3f3f1;
$upei-green: #5C8727;
