//@format
//------------
//-  layout  -
//------------
@include breakpoint(medium) {
    .branding {
        @include media-object-container;
        margin-bottom: 0;
    }

    .branding__image {
        @include media-object-section;
    }
    .branding__text {
        @include media-object-section;
        padding-left: 0 !important;
    }
}
//-----------
//-  style  -
//-----------

.branding {
    .site-logo {
        @include show-for(medium);
        border-right: 1px solid #ccc;
        padding-right: $global-padding/2;
        margin-right: $global-margin/2;
        img {
            width: 100px;
        }
    }
    .site-name {
        a {
            font-family: $libre;
            font-size: rem-calc(32);
            color: $black1;
            margin-bottom: 0;
            line-height: 1;
        }
    }
    .site-slogan {
        font-size: 1.3rem;
        font-size: rem-calc(20);
        line-height: 1;
        //@extend .subheader;
        color: $grey1;
    }
    @include breakpoint(medium) {
        .site-logo {
            img {
                width: rem-calc(128);
            }
        }
        .site-name {
            a {
                font-size: rem-calc(23);
                margin-bottom: 0;
                line-height: 1;
            }
        }
        .site-slogan {
            font-size: rem-calc(18);
            line-height: 1;
        }
    }
}
