.prefooter__container {

background: $blue3;
}
.footer__container {
background: $blue4;
color:$white;
a {
    color:$blue1;
}
}
.upei_vre_footer .container {
    //@include flex-grid-row;
    //justify-content: space-between;
    .vre-footer-menu {

    //@include flex-grid-column(2);
    }
}


$footer-breakpoint: 800px;

$footer-bg: #2b2b2b;
$separator: 4px solid rgb(139, 31, 3);
$subfooter-bg: #1a1c1d;
$menu-text-color: #898989;
$menu-title-color: #d4d4d4;
$upei-links-color: #999;
$link-font-size: 0.8rem;
$address-color: #898989;
$address-color: #898989;

.vre-footer-menus,
.vre-subfooter {
    text-align: center;

    @include breakpoint($footer-breakpoint) {
        text-align: initial;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    a {
        text-decoration: none;
        color: $menu-text-color;
        font-family: sans-serif;
        transition: all 0.4s ease;

        &:hover {
            color: rgb(247, 183, 81);
        }
    }
}

.vre-footer-menus {
    background: $footer-bg;
    border-bottom: $separator;
    padding: 1rem;
    ul {

    }
}

.vre-footer-menu {
    .title {
        color: #fff;
        margin:0;
        margin-bottom: 4px;
        font-weight: normal;
        color: $menu-title-color;
    }
    ul {
        border-left: 1px solid $menu-text-color;
        padding-left: 5px;
        font-size: $link-font-size;
        line-height: 1.2rem;
    }
    margin-bottom: 1rem;
    @include breakpoint($footer-breakpoint) {
        margin-bottom: 0;
    }
}

ul.upei-links {
    @include breakpoint($footer-breakpoint) {
        display: flex;
        li {
            border-right: 1px solid $address-color;
            margin-right: 4px;
            padding-right: 4px;
            line-height: .8rem;
            &:last-child {
                border-right:0;
            }
        }
    }
    a {
        font-size: .8rem;
    }
}

.upei-address {
    font-size: $link-font-size;
    color: $address-color;
    margin-bottom: .5rem;
}

.logos {
    li {
        margin-left: 4px;
    }
}
.vre-subfooter {
    background: $subfooter-bg;
    padding: 1rem;
    &__left {
        padding-top: .5rem;
    }
}
.vre-subfooter__right {
    display: flex;
    justify-content: space-around;
    @include breakpoint($footer-breakpoint) {
        justify-content: initial;
    }

}

/* layout */
ul.upei-links {
    margin-bottom: 1rem;
}
.logos {
    display: flex;
    align-items: center;

}
@include breakpoint($footer-breakpoint) {
    ul.upei-links {
        margin-bottom: 0;
    }
    .vre-footer-menus .container {
        //display: flex;
        @include grid-row;
        width:75rem;
    }
    .vre-footer-menu {
        flex: 1;
        @include grid-column(1 of 5);
    }
    .vre-subfooter .container {
        @include grid-row;
        width:75rem;
        display: flex;
        justify-content: space-between;
        div {
flex:1;
        //@include grid-column(1 of 2);
        }
    }
}
.vre-subfooter__right {
    justify-content:flex-end;
}
