//@format
.region-menubar {
    @include flex-grid-row;
}
.menubar__wrapper {
    background: $menubar-color;
    min-height: 5px;
    .menu--arma-main-menu {
        display: none;
        @include breakpoint(medium) {
            display: block;
        }
    }
}
.menu--main {
    a {
        color: $black2;
    }
    li {
        background-color: $menubar-color;
        transition: $button-transition;
    }
    li:hover {
        background-color: darken($menubar-color, 10%);
    }
    .is-dropdown-submenu {
        background: $menubar-color;
        li:hover {
            background: darken($menubar-color, 10%);
        }
    }
}
