.region-menubar {
    @include flex-grid-row;
}
.menubar__wrapper {
    background: $blue2;
    min-height: 5px;
    .menu--arma-main-menu {
        display: none;
        @include breakpoint(medium) {
            display: block;
        }
    }
}
.menu--main {
    
    li:hover {
        background: lighten( $menubar-color, 10% );
    }
    .is-dropdown-submenu{

    background: $menubar-color;
    li:hover {
        background: lighten( $menubar-color, 10% );
    }
    }
    a {
        color: $white;
    }
}
