// Styling for the header component.

.menu-bar__wrapper {
  background: $black;
  padding: 0;

  .title-bar {
    justify-content: flex-start;
  }
}
  .region-topnav {
      float:right;
  }
.topnav {
    &__wrapper { background: $topnav-color; }
  &__container { @include grid-row; }


  @include top-bar-container;
  $menu_height: 38px;
  padding-top: 0;
  padding-bottom: 0;

  .menu a {
    color: $white;
    height: $menu_height;
    line-height: $menu_height !important;
    padding-top: 0;
    padding-bottom: 0;
  }
  .icon {
      width:1rem;
      height:1rem;
  }
  
}
.open-menu {
    @include breakpoint(medium) {
        display:none;
    }
}
