//@format
// Styling for the header component.

//.menu-bar__wrapper {
//background: $black;
//padding: 0;

//.title-bar {
//justify-content: flex-start;
//}
//}
//.region-topnav {
////float: right;
//@extend .top-bar-right;
//}
//.topnav {
//&__wrapper {
//background: $topnav-color;
//}
//&__container {
//@include flex-grid-row;
//}

//@include top-bar-container;
//$menu_height: 38px;
//padding-top: 0;
//padding-bottom: 0;

//.menu a {
//color: $white;
//height: $menu_height;
//line-height: $menu_height !important;
//padding-top: 0;
//padding-bottom: 0;
//}
//.icon {
//width: 1rem;
//height: 1rem;
//}
//}
//.open-menu {
//@include breakpoint(medium) {
//display: none;
//}
//}

.topnav__container {
    //@include top-bar-container;
    //@include flex-grid-row;
}

.menu-bar__wrapper {
    //background: $black;
    padding: 0;

    .title-bar {
        justify-content: flex-start;
    }
}
.topnav {
    @include show-for(medium);
    $menu_height: rem-calc(38px);
    @include top-bar-container();
    @include flex-grid-row;
    justify-content: flex-end;
    height: $menu_height;

    &__wrapper {
        background: $topnav-color;
    }
    &__container {
        padding-top: 0;
        padding-bottom: 0;
    }
    nav {
    }

    padding-top: 0;
    padding-bottom: 0;

    .menu a {
        color: $white;
        height: $menu_height;
        line-height: $menu_height !important;
        padding-top: 0;
        padding-bottom: 0;
    }
    .icon {
        width: 1rem;
        //height: 1rem;
    }
}
.mobile-logo {
    icon {
        background: $black3;
    }
    svg {
        width: 100px;
    }
}
