<div class="row">
	<div class="columns small-4"><div class="card"> <img alt="On The Move Partnership logo" data-entity-type="file" data-entity-uuid="76034351-8356-48c9-89b3-e2124e8f0ef8" src="/sites/default/files/inline-images/onthemove.png" /></div></div>
	<div class="columns small-4"><div class="card"><img alt="A Tale of Two Islands logo" data-entity-type="file" data-entity-uuid="6e6190a7-121b-4ec0-adaa-3d5436eb01a2" src="/sites/default/files/inline-images/taleoftwo.png" /></div></div>
	<div class="columns small-4"><div class="card"><img alt="Vanier Institute of the Family logo" data-entity-type="file" data-entity-uuid="d6922f77-3da0-4a51-8a21-a267042252a7" src="/sites/default/files/inline-images/Vanier.png" /></div></div>
</div>
