
    {#{% set content_class = page.sidebar ? 'medium-8' : 'medium-12' %}#}
    {#<div class="small-12 {{ content_class }} columns content__main">#}
      {#{{ page.content }}#}
    {#</div>#}

      {{ page.content }}
