
<div class="title-bar">
  <div class="title-bar-left">
  <div class="mobile-logo">
  
                {% include '@components/utilities/icon.twig' with { icon: 'logo' } %}
  </div>
  </div>
  <div class="title-bar-right">
    <button class="menu-icon" type="button" data-open="offCanvas"></button>
  </div>
</div>



