{#_____top-bar_____#}
<div class="topnav" id="menu-search-wrapper">
    {{ page.topnav }}
    <button class="open-menu" data-toggle="offCanvas">
    {% include '@components/utilities/icon.twig' with { icon: 'sign-out' } %}
    </button>
</div>
{#_____/top-bar_____#}
