{#_____top-bar_____#}
<div class="topnav" id="menu-search-wrapper">
    {{ page.topnav }}
    <button type="button" class="open-menu button" data-toggle="offCanvas">Open Menu</button>
</div>
{#_____/top-bar_____#}
